body {
    margin: 0;
    padding: 0;
    height:100vh;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageInput{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}

#imageButton{
    border:1px solid black;
    padding:15px;
}

#imageButton:hover{
    background-color: blanchedalmond;
}
