body {
    margin: 0;
    padding: 0;
    height:100vh;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#imageInput{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}

#imageButton{
    border:1px solid black;
    padding:15px;
}

#imageButton:hover{
    background-color: blanchedalmond;
}
#intro{
    display:grid;
    text-align:center;

    justify-content: center;
    align-items: center;
}
#fullLayerContainer{
    position: fixed;
    right:0;
    top:0;
    
}

#layerContainer{
    transition: transform 0.3s ease;
    background-color:rgba(32, 29, 50, 0.82);
    padding:10px;
}

.hidden{
    transform:translateX(250px);
}